.LoginModalContent {
	padding: 40px;

	.registerSection {
		margin-top: 50px;
		border-top: solid 1px #c5c5c5;
		width: 100%;
		padding: 40px;
	}
	.googleButton {
		transition: 0.2s;
		width: 200px;
		cursor: pointer;
		&:active {
			opacity: 0.8;
			transform: scale(0.98);
		}
	}
}
