.loading-fade {
    width: 100%;
    height: calc(100% - 170px);
    position: absolute;
    top: 110px;
    z-index: 6;
    animation-duration: 1.5s;
    animation-name: slideins;
}

@keyframes slideins {
    0% {
        background: rgba(255, 255, 255, 0.85);
    }
    90% {
        background: rgba(255, 255, 255, 0.009);
    }
}
