.StepHeader {
    max-width: 280px;
    .header-title {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .step-text {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 24px;
    }
}
