.Contact {
    .contact-section {
        width: calc(50% - 30px);

        h1 {
            color: #444;
            margin-top: 0px;
        }
        button {
            margin-top: 20px;
        }
    }

    .isTabletOrMobile {
        // Column content
        flex-direction: column-reverse;
        .contact-section {
            margin-bottom: 60px;
            width: 100%;
        }
    }
}
