.Contact {
    .contact-section {
        width: calc(50% - 20px);
    }

    .isTabletOrMobile {
        // Column content
        flex-direction: column-reverse;
        .contact-section {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
