.Boat-Slide {
    padding: 20px 0px;
    align-items: center;
    transition: 0.3s;
    border: solid 3px transparent;
    border-radius: 10px;
    text-align: center;
    &.isActive {
        border: solid 2px dodgerblue;
        margin-top: 10px;
        transform: scale(1.3);
    }
    .boat-image {
        max-width: 275px;
        width: 100%;
    }
}
