.carousel-holder {
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    transform: scale(1.26);
    position: relative;
    // background: #222;

    .floor-border {
        position: absolute;
        width: 400px;
        height: 400px;
        animation: spin 30s linear infinite;
        border: 3px dashed rgba(128, 128, 128, 0.3);
        border-radius: 50%;
        .floor-circle {
            width: 75%;
            height: 75%;
            background: rgba(51, 75, 104, 0.6);
            border-radius: 50%;
        }
    }
    .tablet-floor-border {
        width: 350px;
        height: 350px;
        top: 18%;
    }
    .mobile-floor-border {
        width: 250px;
        height: 250px;
        top: 20%;
    }

    .swiper-slide {
        transform: scale(0.95);
        transition: 0.3s;
        border-radius: 10px;
        height: 400px;
    }
    .swiper-slide-active {
        transform: scale(1.05);

        img {
            width: 100%;
        }
    }

    @keyframes spin {
        0% {
            transform: rotateX(64deg) rotateZ(-360deg);
        }
        50% {
            transform: rotateX(64deg) rotateZ(-180deg);
        }
        100% {
            transform: rotateX(64deg) rotateZ(0deg);
        }
    }
}
