.carousel-holder {
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    transform: scale(1.3);
    position: relative;
    // background: #222;

    .floor-boarder {
        position: absolute;
        width: 300px;
        height: 300px;
        animation: spin 20s linear infinite;
        border: 5px dashed rgba(128, 128, 128, 0.3);
        border-radius: 50%;
    }

    .swiper-slide {
        transform: scale(0.95);
        transition: 0.3s;
        border-radius: 10px;
        height: 400px;
    }
    .swiper-slide-active {
        transform: scale(1.05);

        img {
            width: 100%;
        }
    }

    @keyframes spin {
        0% {
            transform: rotateX(110deg) rotateZ(360deg) translatez(0px);
        }
        50% {
            transform: rotateX(110deg) rotateZ(180deg) translatez(20px);
        }
        100% {
            transform: rotateX(110deg) rotateZ(0deg) translatez(0px);
        }
    }
}
