.BoatItem {
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    border: solid 1px #222;
    margin-bottom: 20px;
    .image-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    img {
        width: 100%;
        max-width: 49%;
        border-radius: 3px;
        &.featured-image {
            max-width: 100%;
            margin-bottom: 16px;
        }
    }
}
