.BuilderWizard {
    height: calc(100vh - 70px);
    overflow-x: hidden;
    .wizardStep {
        height: calc(100% - 102px); // Nav and footer
        // border: solid 1px red;
    }
    .step-content {
        margin-top: 40px;
        background: #eeeeee;
    }
}
