// GLOBAL STYLES

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;

    &.start {
        align-items: flex-start;
    }
    &.end {
        align-items: flex-end;
    }
}
.column {
    display: flex;
    flex-direction: column;

    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
}

.space-between {
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.Page {
    padding: 70px 4% 30px;
}

.clickable {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.touch {
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 18px;
    border-radius: 0px;
    margin: 4px 0px 25px;
    max-width: 100%;
    border: solid 2px rgba(34, 34, 34, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}

select {
    cursor: pointer;
}
textarea {
    min-height: 140px;
    min-width: 240px;
}
input[type='checkbox'] {
    width: 30px;
    height: 30px;
    accent-color: dodgerblue;
    cursor: pointer;
}
button {
    margin-bottom: 24px;
}

button.square-button {
    background: linear-gradient(0deg, dodgerblue, rgb(89, 172, 255));
    border: none;
    color: white;
    padding: 12px 26px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    &:disabled {
        cursor: not-allowed;
        filter: grayscale(1);
    }
}
