.Nav-logo {
	margin-left: 4px;
	user-select: none;
	a.logo-holder {
		text-decoration: none;
		color: #222;
		align-items: center;
		transition: 0.2s;
		img.logo {
			height: 55px;
			&.mobile-logo {
				height: 15px;
			}
			&.tablet-logo {
				height: 40px;
			}
		}
		img.logo-text {
			width: 100%;
			max-width: 250px;
		}
		&:hover {
			transform: scale(0.96);
		}
	}
}
